In [1]:
from __future__ import print_function
import os
data_path = ['C:\\hello-git-tortoiseGit/NenepBigData/preprocessing2/data']

print (data_path)

['C:\\hello-git-tortoiseGit/NenepBigData/preprocessing2/data']

In [2]:
import numpy as np
import pandas as pd

filepath = os.sep.join(data_path + ['lemmatizing.csv'])
movies = pd.read_csv(filepath, sep=',', header=0)

movies.head()

                                              review  label
0  act end atmosphere despair mixed happy moment ...      3
1  honest go watch film negative mind anyway hear...      7
2  year gibson braveheart scottish movie false ex...      8
3  change story dad really thing movie go decent ...      1
4  movie potential top line intelligent science f...      7

In [60]:
select_genre= movies.loc[movies["label"]==0]

In [61]:
select_genre.head()

                                               review  label
21  fan write everything say base fact enjoy book ...      0
28  see movie gladiator since teenager always wond...      0
31  whilst watch felt disappointed slow wordy slop...      0
34  see twice second time around notice thing real...      0
39  opinion great film really show one man rage qu...      0

In [79]:
from collections import Counter

counter=Counter()

for words in select_genre["review"]:
    for word in words.split(" "):
        counter[word]+=1

In [80]:
counter.most_common(100)

[('movie', 32779),
 ('film', 30905),
 ('war', 16068),
 ('one', 13501),
 ('make', 11489),
 ('see', 10850),
 ('like', 10660),
 ('scene', 9054),
 ('time', 8680),
 ('character', 8667),
 ('story', 8540),
 ('get', 7287),
 ('good', 7207),
 ('great', 6933),
 ('watch', 6664),
 ('well', 6406),
 ('soldier', 6088),
 ('really', 5793),
 ('think', 5357),
 ('say', 5261),
 ('best', 5190),
 ('way', 5116),
 ('much', 5006),
 ('take', 5004),
 ('end', 4866),
 ('give', 4648),
 ('even', 4639),
 ('feel', 4563),
 ('know', 4456),
 ('go', 4400),
 ('show', 4400),
 ('also', 4376),
 ('people', 4222),
 ('first', 4172),
 ('many', 4034),
 ('act', 3815),
 ('come', 3680),
 ('thing', 3441),
 ('work', 3355),
 ('ever', 3350),
 ('look', 3235),
 ('two', 3229),
 ('part', 3217),
 ('shot', 3117),
 ('never', 3085),
 ('find', 3025),
 ('love', 2970),
 ('action', 2964),
 ('performance', 2958),
 ('actor', 2941),
 ('real', 2925),
 ('want', 2897),
 ('tell', 2797),
 ('seem', 2697),
 ('play', 2690),
 ('life', 2679),
 ('year', 2677),
 ('use', 2619),
 ('kill', 2583),
 ('experience', 2582),
 ('point', 2580),
 ('director', 2566),
 ('bad', 2508),
 ('long', 2444),
 ('every', 2427),
 ('little', 2405),
 ('still', 2378),
 ('battle', 2305),
 ('moment', 2299),
 ('man', 2285),
 ('lot', 2255),
 ('try', 2206),
 ('plot', 2204),
 ('set', 2183),
 ('something', 2161),
 ('men', 2093),
 ('back', 2088),
 ('leave', 2071),
 ('start', 2031),
 ('cinematography', 2019),
 ('history', 1996),
 ('line', 1992),
 ('young', 1991),
 ('happen', 1946),
 ('fight', 1908),
 ('another', 1897),
 ('without', 1894),
 ('different', 1894),
 ('cast', 1854),
 ('big', 1836),
 ('audience', 1816),
 ('dialogue', 1816),
 ('almost', 1796),
 ('sound', 1791),
 ('felt', 1791),
 ('half', 1786),
 ('true', 1780),
 ('screen', 1779),
 ('write', 1776),
 ('horror', 1768)]

In [64]:
import json

Mean vector representations:
(300,)